.photo-popup__close {
    background-image: url("../../../images/close.svg");
    background-position: center;
    background-size: 32px 32px;
    background-color: transparent;
    border-style: none;
    width: 32px;
    height: 32px;
    position: relative;
    top: 8px;
    left: calc(100% - 24px);
}

.photo-popup__close:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 730px) {
    .photo-popup__close {
        top: 8px;
        left: calc(100% - 60px);
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
}
