.edit-popup__container {
    width: 430px;
    min-height: 330px;
    background-color: #fff;
    z-index: 1;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 730px) {
    .edit-popup__container {
        width: 282px;
    }
}