.profile__description {
    color: #fff;
    padding: 0;
    margin: 16px 0 0 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 294px;
}

@media screen and (max-width: 780px) {
    .profile__description {
        margin-top: 8px;
        font-size: 14px;
        line-height: 16.94px;
        font-weight: 400;
    }
}