.edit-popup__close {
    background-image: url("../../../images/close.svg");
    background-position: center;
    background-size: 32px 32px;
    background-color: transparent;
    border-style: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
}

@media screen and (max-width: 730px) {
    .edit-popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
        background-size: 20px 20px;
    }
}