.place {
    width: 282px;
    min-height: 362px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}