.footer {
    width: 100%;
    display: flex;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media screen and (max-width: 780px) {
    .footer {
        width: calc(100% - 38px);
        padding: 48px 19px 36px 19px;
    }
}